[fill="currentColor"] {
  font-size: 24px;
}
.barStyle::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
.barStyle::-webkit-scrollbar-thumb {
  background-color: rgba(185, 185, 185, 0.596);
  height: 5px;
  width: 5px;
}
